<h1>Network Topologies</h1>
  <label *ngIf="!url">Choose tour layout</label>
  <form *ngIf="!url">
  <select (change)="onSelect($event)">
    <option *ngFor="let netWorkTopology of netWorkTopologies">
      {{netWorkTopology}}
    </option>
  </select>
</form>


<graph [nodes]="netWorkType.nodes" [links]="netWorkType.links" *ngIf="simulation"></graph>
<app-force-directed-graph [data]="networkData" *ngIf="forceDirected"></app-force-directed-graph>
<app-collapsible-tree-layout [data]="networkData" *ngIf="collapsiableTree"></app-collapsible-tree-layout>
<app-force-dircted-tree [data]="networkData" *ngIf="forceDirectedTree"></app-force-dircted-tree>
<app-vertical-tree [data]="networkData" *ngIf="vertical"></app-vertical-tree>
<app-tree-boxes [data]="networkData" *ngIf="treeBox"></app-tree-boxes>