<h1>Network Topologies</h1>
  <label *ngIf="!url">Layout List</label>
  <form *ngIf="!url">
  <select (change)="onSelect($event)">
    <option *ngFor="let netWorkTopology of netWorkTopologies">
      {{netWorkTopology}}
    </option>
  </select>
</form>

<graph [data]="networkData" *ngIf="simulation"></graph>
<app-force-directed-graph [data]="networkData" *ngIf="forceDirected"></app-force-directed-graph>
<app-force-dircted-tree [data]="networkData" *ngIf="forceDirectedTree"></app-force-dircted-tree>
<app-collapsible-tree-layout  [data]="networkData" *ngIf="collapsiableTree"></app-collapsible-tree-layout>
<app-vertical-tree [data]="networkData" *ngIf="vertical"></app-vertical-tree>
<app-tidy-tree [data]="networkData" *ngIf="tidyTree"></app-tidy-tree>
<app-tree-boxes [data]="networkData" *ngIf="treeBox"></app-tree-boxes>
<app-network-topology-layouts [data]="networkData" [configurationData]="configurationData" *ngIf="layoutChosen"></app-network-topology-layouts>