<h1>Basic mat-select</h1>
  <label>Choose network topology</label>
  <form>
  <select (change)="onSelect($event)">
    <option *ngFor="let netWorkTopology of netWorkTopologies">
      {{netWorkTopology}}
    </option>
  </select>
</form>


<graph [nodes]="netWorkType.nodes" [links]="netWorkType.links" *ngIf="simulation"></graph>
<app-tidy-tree *ngIf="tidy"></app-tidy-tree>
<app-force-directed-graph *ngIf="forceDirected"></app-force-directed-graph>
<app-collapsible-tree-layout *ngIf="collapsiable"></app-collapsible-tree-layout>
